/* App.css */
.app {
  display: flex; /* Flexbox to place sidebar and content next to each other */
  background-color: #111111;
}

.content {
  flex: 1; /* This allows the content to take the remaining width */
  padding: 20px; /* Optional: adds some space around the content */
}

p {
  color: #848484; /* Grey color for text */
}

/* New style for the number 18 */
.highlighted-number {
  color: #ffffff; /* White color for the number 18 */
}
